
/* Universal selector*/

/*
*   {

    color:pink;
    background-color:green;

}  */

/* using element selector "body"  */
body {

    background-color:beige;
}


/* element selector "button" */
button {

    font-size:30px;
}


/* multiple elements */
h1, h2 {

    color:crimson;
}

/* particular button id selection */

#signup {

    background-color: pink;
    color:blue;
}

/* calling by class */
.sec {

    color:green;
}

/* descendant class selector */
.post a {

    color:hotpink;
}

/* descendant element selector 2 */
footer > a{

    color:purple;
}

/* type selector */
input[type="password"]{

    color:purple;
}

/*  */
input[type="text"]{

    color:red;
}

/* specified character selection */
a[href*="google"]{

    color:darkorange;
}

/* pseudo-class */
button:hover {
    background-color:red;
    color:aquamarine;
}

/* Nested psuedo-class */
.post button:active {

    background-color:green;
}

/* psuedo-elements */
h2::first-letter {

    font-size:50px;
}

/* double colon for these */
p::first-line {

    color:green;
}

