
/* Universal selector*/

/*
*   {

    color:pink;
    background-color:green;

}  */

/* using element selector "body"  */
body {

    background-color:beige;
}


/* element selector "button" */
button {

    font-size:30px;
}


/* multiple elements */
h1, h2 {

    color:crimson;
}

/* particular button id selection */

#signup {

    background-color: pink;
    color:blue;
}

/* word SEC seperated with a span tag */
.sec {

    color:green;
}

/*  */
.post a {

    color:hotpink;
}